@use "sass:map";
@use "@angular/material" as mat;
@use "../../../styles/themes/palette";

@mixin color($theme) {
  $color-config: mat.get-color-config($theme);
  $bg-palette: map.get($color-config, "background");

  .detail-footer {
    background-color: mat.get-color-from-palette(
      $bg-palette,
      secondary-background
    );
  }
}

@mixin theme($theme) {
  $color-config: mat.get-color-config($theme);

  @if $color-config != null {
    @include color($theme);
  }
}
