.header {
  background-repeat: no-repeat;

  h1 {
    color: #fff;
  }

  min-height: 160px;

  &-info-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1110px;
    margin: 0 auto;
    padding: 30px 60px;
    & h1 {
      margin: 0;
    }
  }
}
