.filter-bar {
  display: flex;
  border-radius: 6px;
  min-height: 80px;

  &.tablet {
    .filter-search-btn {
      padding: 15px;
    }
  }
}

label {
  font-weight: 700;
}

.submit-area {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.filter-input-container {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 100%;
}

::placeholder {
  font-family: inherit;
}

.search-field {
  width: 100%;
  padding: 1.2em 0 1.2em 3.5em;
  border: none;
  outline: none;
  background-color: inherit;
  color: inherit;
  font-size: 16px;
  font-family: inherit;
}

.search-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 1.25rem;
  font-size: 1.3em;
}

.search-assets {
  display: flex;
  align-items: center;
  padding: 15px;
  justify-content: space-between;
  gap: 20px;
}

.filter-btn {
  background: transparent;
  border: none;
  cursor: pointer;

  path:hover {
    transition: 0.3s;
  }
}

.search-btn-mobile {
  padding: 0 15px;
  height: 100%;

  & img {
    filter: saturate(1) brightness(390%);
    width: 20px;
    height: 20px;
  }
}
