.filter-bar {
  display: flex;
  border-radius: 6px;
  min-height: 80px;

  &.tablet {
    .filter-search-btn {
      padding: 15px;
    }
  }
}

.filter-search-btn {
  margin-left: 15px;
}

label {
  font-weight: 700;
}

.submit-area {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.search-assets {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.filter-btn {
  background: transparent;
  border: none;
  cursor: pointer;

  path:hover {
    transition: 0.3s;
  }
}

.search-btn-mobile {
  padding: 14px;
  display: flex;

  & img {
    filter: saturate(1) brightness(390%);
    width: 20px;
    height: 20px;
  }
}
