<div class="filter-bar" [ngClass]="{ tablet: tabletView }">
  <app-filter-input
    [hideIcon]="hideInput"
    icon="icon-search"
    [placeholder]="searchPlaceHolder"
  ></app-filter-input>
  <app-filter-input
    *ngIf="!hideInput"
    icon="icon-location"
    placeholder="Filter by location…"
    [ngStyle]="{
      flexShrink: tabletView ? 1 : 1.2
    }"
  ></app-filter-input>
  <div class="submit-area" *ngIf="!hideInput">
    <div class="checkbox-container">
      <input type="checkbox" value="1" />
      <label
        >Full Time
        <span [ngStyle]="{ display: tabletView ? 'none' : 'inline' }"
          >Only</span
        ></label
      >
    </div>
    <button class="filter-search-btn" appStyledButton>Search</button>
  </div>
</div>
