<header class="detail-header" *ngIf="job">
  <div
    class="logo-container"
    [ngStyle]="{ backgroundColor: job.logoBackground }"
  >
    <img
      src="../../../assets/{{ job.logo }}"
      [alt]="job.company"
      class="icon"
    />
  </div>
  <div class="info">
    <div class="info-main">
      <h2 class="company-title">{{ job.company }}</h2>
      <p>{{ generateWebsiteStaticText(job.company) }}</p>
    </div>
    <button appStyledButton class="company-btn">Company Site</button>
  </div>
</header>
