.detail-header {
  display: flex;
  border-radius: 6px;
}

.logo-container {
  min-width: 140px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom-left-radius: inherit;

  & .icon {
    width: 65%;
  }
}

.info {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 36px;
}

.company-btn {
  align-self: center;
  padding: 15px 25px;
}
