.detail-header {
  display: flex;
  border-radius: 6px;

  &.mobile {
    flex-direction: column;
    align-items: center;

    .logo-container {
      border-radius: 15px;
      width: 50px;
      height: 50px;
      min-width: auto;
      margin-top: -25px;

      .icon {
        width: auto;
      }
    }

    .info {
      flex-direction: column;
      width: auto;

      &-main {
        text-align: center;
        margin-bottom: 24px;
      }
    }
  }
}

.logo-container {
  min-width: 140px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom-left-radius: inherit;

  & .icon {
    width: 65%;
  }
}

.info {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 36px 48px;
}

.company-btn {
  align-self: center;
  padding: 15px 25px;
}
