@use "sass:map";
@use "@angular/material" as mat;
@use "../../../styles/themes/palette";

$palette: mat.define-palette(palette.$md-custom-accent-light);
$bg-color: map.get($palette, 500);
$alpha: rgba($bg-color, 0.2);

.filter-input-container {
  border-right: 1px solid $alpha;
}
