@use "sass:map";
@use "@angular/material" as mat;
@use "./index" as app;

$job-board-primary: mat.define-palette(app.$md-custom-primary-light);
$job-board-accent: mat.define-palette(app.$md-custom-accent-light);
$job-board-theme: mat.define-light-theme(
  (
    color: (
      primary: $job-board-primary,
      accent: $job-board-accent,
    ),
  )
);
