@use "sass:map";

$darkTextColour: #19202d;
$lightTextColour: #fff;
$darkBGColour: #121721;
$lightBGColour: #f4f6f8;

$md-custom-primary-light: (
  50: #ebecfb,
  100: #cdd1f6,
  200: #acb2f0,
  300: #939bf4,
  400: #727be5,
  500: #5964e0,
  600: #515cdc,
  700: #4852d8,
  800: #3e48d3,
  900: #2e36cb,
  A100: $darkTextColour,
  A200: #dadcff,
  A400: #a7acff,
  A700: #8e93ff,
  contrast: (
    50: $darkTextColour,
    100: $darkTextColour,
    200: $darkTextColour,
    300: $darkTextColour,
    400: $darkTextColour,
    500: $lightTextColour,
    600: $lightTextColour,
    700: $lightTextColour,
    800: $lightTextColour,
    900: $lightTextColour,
    A100: $darkTextColour,
    A200: $darkTextColour,
    A400: $darkTextColour,
    A700: $darkTextColour,
  ),
);

$md-custom-accent-light: (
  50: $lightBGColour,
  100: #d4d9e0,
  200: #b7c0cc,
  300: #9aa6b7,
  400: #8493a7,
  500: #6e8098,
  600: #667890,
  700: #5b6d85,
  800: #51637b,
  900: #3f506a,
  A100: #c1d9ff,
  A200: #8ebbff,
  A400: #5b9cff,
  A700: #418cff,
  contrast: (
    50: $darkTextColour,
    100: $darkTextColour,
    200: $darkTextColour,
    300: $darkTextColour,
    400: $darkTextColour,
    500: $lightTextColour,
    600: $lightTextColour,
    700: $lightTextColour,
    800: $lightTextColour,
    900: $lightTextColour,
    A100: $darkTextColour,
    A200: $darkTextColour,
    A400: $darkTextColour,
    A700: $darkTextColour,
  ),
);

$md-custom-primary-dark: (
  50: #ebecfb,
  100: #cdd1f6,
  200: #acb2f0,
  300: #939bf4,
  400: #727be5,
  500: #5964e0,
  600: #515cdc,
  700: #4852d8,
  800: #3e48d3,
  900: #2e36cb,
  A100: $darkTextColour,
  A200: #dadcff,
  A400: #a7acff,
  A700: #8e93ff,
  contrast: (
    50: $darkTextColour,
    100: $darkTextColour,
    200: $darkTextColour,
    300: $darkTextColour,
    400: $darkTextColour,
    500: $lightTextColour,
    600: $lightTextColour,
    700: $lightTextColour,
    800: $lightTextColour,
    900: $lightTextColour,
    A100: $darkTextColour,
    A200: $darkTextColour,
    A400: $darkTextColour,
    A700: $darkTextColour,
  ),
);

$md-custom-accent-dark: (
  50: #f3f5f8,
  100: #e2e7ed,
  200: #ced7e1,
  300: #bac6d4,
  400: #acbacb,
  500: #9daec2,
  600: #95a7bc,
  700: #8b9db4,
  800: #8194ac,
  900: $darkTextColour,
  A100: $lightTextColour,
  A200: #e8f2ff,
  A400: #b5d5ff,
  A700: #9cc6ff,
  contrast: (
    50: $darkTextColour,
    100: $darkTextColour,
    200: $darkTextColour,
    300: $darkTextColour,
    400: $darkTextColour,
    500: $darkTextColour,
    600: $darkTextColour,
    700: $darkTextColour,
    800: $darkTextColour,
    900: $darkTextColour,
    A100: $darkTextColour,
    A200: $darkTextColour,
    A400: $darkTextColour,
    A700: $darkTextColour,
  ),
);

$grey-palette: (
  50: #fafafa,
  100: #f5f5f5,
  200: #eeeeee,
  300: #e0e0e0,
  400: #bdbdbd,
  500: #9e9e9e,
  600: #757575,
  700: #616161,
  800: #424242,
  900: #212121,
  A100: #ffffff,
  A200: #eeeeee,
  A400: #bdbdbd,
  A700: #616161,
  contrast: (
    50: $darkTextColour,
    100: $darkTextColour,
    200: $darkTextColour,
    300: $darkTextColour,
    400: $darkTextColour,
    500: $darkTextColour,
    600: $lightTextColour,
    700: $lightTextColour,
    800: $lightTextColour,
    900: $lightTextColour,
    A100: $darkTextColour,
    A200: $darkTextColour,
    A400: $darkTextColour,
    A700: $lightTextColour,
  ),
);

$light-theme-background-palette: (
  status-bar: map.get($grey-palette, 300),
  app-bar: map.get($grey-palette, 100),
  background: $lightBGColour,
  secondary-background: $lightTextColour,
  hover: rgba($darkTextColour, 0.04),
  card: $lightTextColour,
  dialog: $lightTextColour,
  company-button: rgba(map.get($md-custom-primary-light, 500), 0.1),
  disabled-button: rgba($darkTextColour, 0.12),
  raised-button: $lightTextColour,
  focused-button: $lightTextColour,
  selected-button: map.get($grey-palette, 300),
  selected-disabled-button: map.get($grey-palette, 400),
  disabled-button-toggle: map.get($grey-palette, 200),
  unselected-chip: map.get($grey-palette, 300),
  disabled-list-option: map.get($grey-palette, 200),
  tooltip: map.get($grey-palette, 700),
);

$dark-theme-background-palette: (
  status-bar: $darkBGColour,
  app-bar: map.get($grey-palette, 900),
  background: $darkBGColour,
  secondary-background: $darkTextColour,
  hover: rgba($lightTextColour, 0.04),
  card: map.get($grey-palette, 800),
  dialog: map.get($grey-palette, 800),
  company-button: rgba($lightTextColour, 0.1),
  disabled-button: rgba($lightTextColour, 0.12),
  raised-button: map.get($grey-palette, 800),
  focused-button: $lightTextColour,
  selected-button: map.get($grey-palette, 900),
  selected-disabled-button: map.get($grey-palette, 800),
  disabled-button-toggle: $darkBGColour,
  unselected-chip: map.get($grey-palette, 700),
  disabled-list-option: rgba($lightTextColour, 0.12),
  tooltip: map.get($grey-palette, 700),
);

$light-theme-foreground-palette: (
  base: $darkTextColour,
  company-button: map.get($md-custom-primary-light, 500),
  divider: $darkTextColour,
  dividers: $darkTextColour,
  disabled: $darkTextColour,
  disabled-button: rgba($darkTextColour, 0.26),
  disabled-text: $darkTextColour,
  elevation: $darkTextColour,
  hint-text: $darkTextColour,
  secondary-text: $darkBGColour,
  icon: rgba($darkTextColour, 0.54),
  icons: rgba($darkTextColour, 0.54),
  text: $darkTextColour,
  slider-min: rgba($darkTextColour, 0.87),
  slider-off: rgba($darkTextColour, 0.26),
  slider-off-active: rgba($darkTextColour, 0.38),
);

$dark-theme-foreground-palette: (
  base: $lightTextColour,
  company-button: $lightTextColour,
  divider: $lightTextColour,
  dividers: $lightTextColour,
  disabled: $lightTextColour,
  disabled-button: rgba($lightTextColour, 0.3),
  disabled-text: $lightTextColour,
  elevation: $darkBGColour,
  hint-text: $lightTextColour,
  secondary-text: $lightBGColour,
  icon: $lightTextColour,
  icons: $lightTextColour,
  text: $lightTextColour,
  slider-min: $lightTextColour,
  slider-off: rgba($lightTextColour, 0.3),
  slider-off-active: rgba($lightTextColour, 0.3),
);
