$darkTextColour: #19202d;
$lightTextColour: #fff;

$md-custom-primary-light: (
  50: #ebecfb,
  100: #cdd1f6,
  200: #acb2f0,
  300: #8b93e9,
  400: #727be5,
  500: #5964e0,
  600: #515cdc,
  700: #4852d8,
  800: #3e48d3,
  900: #2e36cb,
  A100: $lightTextColour,
  A200: #dadcff,
  A400: #a7acff,
  A700: #8e93ff,
  contrast: (
    50: $darkTextColour,
    100: $darkTextColour,
    200: $darkTextColour,
    300: $darkTextColour,
    400: $darkTextColour,
    500: $lightTextColour,
    600: $lightTextColour,
    700: $lightTextColour,
    800: $lightTextColour,
    900: $lightTextColour,
    A100: $darkTextColour,
    A200: $darkTextColour,
    A400: $darkTextColour,
    A700: $darkTextColour,
  ),
);

$md-custom-accent-light: (
  50: #f4f6f8,
  100: #d4d9e0,
  200: #b7c0cc,
  300: #9aa6b7,
  400: #8493a7,
  500: #6e8098,
  600: #667890,
  700: #5b6d85,
  800: #51637b,
  900: #3f506a,
  A100: #c1d9ff,
  A200: #8ebbff,
  A400: #5b9cff,
  A700: #418cff,
  contrast: (
    50: $darkTextColour,
    100: $darkTextColour,
    200: $darkTextColour,
    300: $darkTextColour,
    400: $darkTextColour,
    500: $lightTextColour,
    600: $lightTextColour,
    700: $lightTextColour,
    800: $lightTextColour,
    900: $lightTextColour,
    A100: $darkTextColour,
    A200: $darkTextColour,
    A400: $darkTextColour,
    A700: $darkTextColour,
  ),
);

$md-custom-primary-dark: (
  50: #ebecfb,
  100: #cdd1f6,
  200: #acb2f0,
  300: #8b93e9,
  400: #727be5,
  500: #5964e0,
  600: #515cdc,
  700: #4852d8,
  800: #3e48d3,
  900: #2e36cb,
  A100: $lightTextColour,
  A200: #dadcff,
  A400: #a7acff,
  A700: #8e93ff,
  contrast: (
    50: $darkTextColour,
    100: $darkTextColour,
    200: $darkTextColour,
    300: $darkTextColour,
    400: $darkTextColour,
    500: $lightTextColour,
    600: $lightTextColour,
    700: $lightTextColour,
    800: $lightTextColour,
    900: $lightTextColour,
    A100: $darkTextColour,
    A200: $darkTextColour,
    A400: $darkTextColour,
    A700: $darkTextColour,
  ),
);

$md-custom-accent-dark: (
  50: #f3f5f8,
  100: #e2e7ed,
  200: #ced7e1,
  300: #bac6d4,
  400: #acbacb,
  500: #9daec2,
  600: #95a7bc,
  700: #8b9db4,
  800: #8194ac,
  900: #121721,
  A100: $lightTextColour,
  A200: #e8f2ff,
  A400: #b5d5ff,
  A700: #9cc6ff,
  contrast: (
    50: $darkTextColour,
    100: $darkTextColour,
    200: $darkTextColour,
    300: $darkTextColour,
    400: $darkTextColour,
    500: $darkTextColour,
    600: $darkTextColour,
    700: $darkTextColour,
    800: $darkTextColour,
    900: $darkTextColour,
    A100: $darkTextColour,
    A200: $darkTextColour,
    A400: $darkTextColour,
    A700: $darkTextColour,
  ),
);
