@use "@angular/material" as mat;
@use "./themes/light";
@use "./themes/dark";
@use "./typography/config" as typography;
@use "../app/job-search/filter-bar/filter-bar-theme" as filterBarTheme;

@use "./custom/directive-styles";
@use "../app/job-search/filter-input/filter-input-theme";
@use "../app/job-search/job-card/job-card-theme" as jobCardTheme;
@use "../app/detail-view/detail-header/detail-header-theme" as detailHeaderTheme;
@use "../app/detail-view/detail-main/detail-main-theme" as detailMainTheme;

@include mat.core(typography.$main-typography);
@include mat.core-color(light.$job-board-light-theme);
@include mat.progress-spinner-theme(light.$job-board-light-theme);
@include filterBarTheme.theme(light.$job-board-light-theme);
@include jobCardTheme.theme(light.$job-board-light-theme);
@include detailHeaderTheme.theme(light.$job-board-light-theme);
@include detailMainTheme.theme(light.$job-board-light-theme);

.dark-theme {
  @include mat.core-color(dark.$job-board-dark-theme);
  @include filterBarTheme.theme(dark.$job-board-dark-theme);
  @include jobCardTheme.theme(dark.$job-board-dark-theme);
  @include detailHeaderTheme.theme(dark.$job-board-dark-theme);
  @include detailMainTheme.theme(dark.$job-board-dark-theme);
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: "Kumbh Sans", sans-serif;
}
