@use "sass:map";
@use "@angular/material" as mat;
@use "../../../styles/themes/palette";

$palette: mat.define-palette(palette.$md-custom-accent-light);
$bg-color: map.get($palette, 500);
$alpha: rgba($bg-color, 0.2);

.filter-input-container {
  border-right: 1px solid $alpha;
}

@mixin color($theme) {
  $color-config: mat.get-color-config($theme);
  $bg-palette: map.get($color-config, "background");
  @debug $bg-palette;

  .filter-input-container svg path {
    fill: mat.get-color-from-palette($bg-palette, filter-btn);
  }
}

@mixin theme($theme) {
  $color-config: mat.get-color-config($theme);

  @if $color-config != null {
    @include color($theme);
  }
}
