::placeholder {
  font-family: inherit;
}

:host {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 100%;
}

.search-field {
  width: 100%;
  padding: 1.2em 0 1.2em 3.5em;
  border: none;
  outline: none;
  background-color: inherit;
  color: inherit;
  font-size: 16px;
  font-family: inherit;
}

.search-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 1.25rem;
  font-size: 1.3em;
}
