<app-filter-bar></app-filter-bar>
<div class="content">
  <div
    class="grid-container"
    [ngStyle]="{
      gridTemplateColumns: mobileView
        ? 'repeat(auto-fill, minmax(150px, 1fr))'
        : ''
    }"
  >
    <ng-container *ngFor="let jobs$ of jobObservables">
      <app-job-card
        *ngFor="let job of jobs$ | async"
        [cardData]="{
          id: job.id,
          logo: job.logo,
          logoBackground: job.logoBackground,
          contract: job.contract,
          postedAt: job.postedAt,
          company: job.company,
          location: job.location,
          position: job.position
        }"
      ></app-job-card>
    </ng-container>
  </div>
  <app-loading></app-loading>
</div>
<button
  appStyledButton
  (click)="onLoadMoreBtnClick()"
  *ngIf="!(hideLoadMoreBtn$ | async)"
>
  Load More
</button>
