<div class="card-container" *ngIf="cardData">
  <div
    class="logo-container"
    [ngStyle]="{ backgroundColor: cardData.logoBackground }"
  >
    <img
      src="../../../assets/{{ cardData.logo }}"
      [alt]="cardData.company"
      class="icon"
      aria-label="company icon"
    />
  </div>
  <p class="info">
    {{ cardData.postedAt }} <span class="divider-dot">.</span>
    {{ cardData.contract }}
  </p>
  <h3 class="card-position-title">{{ cardData.position }}</h3>
  <p class="info">{{ cardData.company }}</p>
  <span class="location">{{ cardData.location }}</span>
  <a class="link" title="detail" [routerLink]="['detail', cardData.id]"></a>
</div>
