.card-container {
  display: flex;
  flex-direction: column;
  height: 80%;
  border-radius: 6px;
  position: relative;
  padding: 32px;
  cursor: pointer;
  text-decoration: none;
  color: inherit;
}

.logo-container {
  position: absolute;
  top: -25px;
  left: 32px;
  width: 50px;
  height: 50px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  caret-color: transparent;
}

.divider-dot {
  font-size: 40px;
  display: inline-block;
  margin: 0 5px;
}

.location {
  margin-top: auto;
  font-weight: 700;
  font-size: 14px;
}
